Repository IntelLabs/encrypted-computing-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format-14, cpplint

Path conditions:
  pylint: any of: \.py$, but not: ^(assembler_tools/hec-assembler-tools/assembler/common/run_config\.py| *assembler_tools/hec-assembler-tools/assembler/instructions/| *assembler_tools/hec-assembler-tools/assembler/memory_model/| *assembler_tools/hec-assembler-tools/assembler/stages/asm_scheduler\.py| *assembler_tools/hec-assembler-tools/assembler/stages/scheduler\.py| *assembler_tools/hec-assembler-tools/debug_tools/main\.py| *assembler_tools/hec-assembler-tools/debug_tools/xinst_timing_check/| *assembler_tools/hec-assembler-tools/he_as\.py| *assembler_tools/hec-assembler-tools/linker/__init__\.py| *assembler_tools/hec-assembler-tools/linker/instructions/__init__\.py)
  clang-format-14: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|inl)$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$

insert-license: warn if fuzzy match found
  .pre-commit-config.yaml
Due: none

remove duplicate license headers
  p-isa_tools/common/config.h.in
  p-isa_tools/common/p_isa/isa_instruction.h
  p-isa_tools/common/p_isa/p_isa.h
  p-isa_tools/common/p_isa/p_isa_hardware_models.h
  p-isa_tools/common/p_isa/p_isa_instruction.cpp
  p-isa_tools/common/p_isa/p_isa_instruction.h
  p-isa_tools/common/p_isa/p_isa_instructions.h
  p-isa_tools/common/p_isa/p_isa_performance_modeler.cpp
  p-isa_tools/common/p_isa/p_isa_performance_modeler.h
  p-isa_tools/common/p_isa/parser/p_isa_parser.cpp
  p-isa_tools/common/p_isa/parser/p_isa_parser.h
  p-isa_tools/common/string.h
  p-isa_tools/common/timer/timer.h
  p-isa_tools/functional_modeler/data_handlers/hec_dataformats_handler.h
  p-isa_tools/functional_modeler/data_handlers/json_data_handler.h
  p-isa_tools/functional_modeler/functional_models/multiregister.h
  p-isa_tools/functional_modeler/functional_models/p_isa_functional_model.h
  p-isa_tools/functional_modeler/functional_models/p_isa_memory_model.h
  p-isa_tools/functional_modeler/functional_models/utility_functions.h
  p-isa_tools/functional_modeler/main.cpp
  p-isa_tools/functional_modeler/pisa_runtime/p_isa_instruction_trace.h
  p-isa_tools/functional_modeler/pisa_runtime/pisaprogramruntime.h
Due: clang-format-14, cpplint

disable -Werror for now
  p-isa_tools/data_formats/CMakeLists.txt
Due: none

data-formats: add `store/load_json_trace`
  p-isa_tools/data_formats/src/data_formats/cpp/heracles/fhe_trace/io.cpp
  p-isa_tools/data_formats/src/data_formats/cpp/include/heracles/fhe_trace/io.h
Due: clang-format-14, cpplint

data-formats: enable -Werror and fix resulting issues
  p-isa_tools/data_formats/CMakeLists.txt
  p-isa_tools/data_formats/src/data_formats/cpp/heracles/util/util.cpp
  p-isa_tools/data_formats/src/data_formats/test/heracles_test.cpp
Due: clang-format-14, cpplint

fix cpplint issues
  CPPLINT.cfg
  tracing/data-formats/src/data_formats/cpp/heracles/data/math.cpp
  tracing/data-formats/src/data_formats/cpp/include/heracles/heracles_data_formats.h
  tracing/data-formats/src/data_formats/test/math_unittest/unittest.h
Due: clang-format-14, cpplint

fix compile errors
  p-isa_tools/functional_modeler/data_handlers/json_data_handler.h
  p-isa_tools/program_mapper/p_isa/pisa_test_generator.h
Due: clang-format-14, cpplint

add heracles tracer (w/ end-to-end example)
  .typos.toml
  p-isa_tools/CMakeLists.txt
  p-isa_tools/data_formats/CMakeLists.txt
  p-isa_tools/data_formats/openfhe_tracer/CMakeLists.txt
  p-isa_tools/data_formats/openfhe_tracer/heraclestracer.h
  p-isa_tools/data_formats/openfhe_tracer/simple_tracing.cpp
  p-isa_tools/kerngen/CMakeLists.txt
Due: clang-format-14, cpplint

update data_formats to new format/pylint/etc
  p-isa_tools/data_formats/proto/heracles/data.proto
  p-isa_tools/data_formats/proto/heracles/fhe_trace.proto
  p-isa_tools/data_formats/python/heracles/data/io.py
  p-isa_tools/data_formats/python/heracles/data/naming.py
  p-isa_tools/data_formats/python/heracles/data/transform.py
  p-isa_tools/data_formats/python/heracles/fhe_trace/io.py
  p-isa_tools/data_formats/python/heracles/util/data.py
  p-isa_tools/data_formats/test/heracles_test.py
Due: pylint

improve pre-commit setup
  .clang-format
  .github/workflows/format.yml
  .pre-commit-config.yaml
  .pylintrc
  .typos.toml
  mypy.ini
  p-isa_tools/CPPLINT.cfg
  pyproject.toml
  requirements-dev.txt
Due: none

allow prior years in license headers
  .pre-commit-config.yaml
  HEADER
  p-isa_tools/common/timer/timer.h
  p-isa_tools/kerngen/__init__.py
  p-isa_tools/kerngen/high_parser/__init__.py
  p-isa_tools/kerngen/high_parser/generators.py
  p-isa_tools/kerngen/high_parser/options_handler.py
  p-isa_tools/kerngen/high_parser/pisa_operations.py
  p-isa_tools/kerngen/high_parser/types.py
  p-isa_tools/kerngen/kernel_optimization/__init__.py
  p-isa_tools/kerngen/kernel_parser/__init__.py
  p-isa_tools/kerngen/pisa_generators/__init__.py
  p-isa_tools/kerngen/pisa_generators/basic.py
  p-isa_tools/kerngen/pisa_generators/decomp.py
  p-isa_tools/kerngen/pisa_generators/ntt.py
  p-isa_tools/kerngen/pisa_generators/relin.py
  p-isa_tools/kerngen/pisa_generators/rescale.py
  p-isa_tools/kerngen/pisa_generators/rotate.py
  p-isa_tools/kerngen/pisa_generators/square.py
  p-isa_tools/kerngen/tests/test_kerngen.py
Due: pylint, clang-format-14, cpplint

revert use of union type in isinstance
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
  pyproject.toml
Due: pylint

Update graph.h
  p-isa_tools/common/graph/graph.h
Due: clang-format-14, cpplint

manual fixes
  assembler_tools/hec-assembler-tools/assembler/common/constants.py
  assembler_tools/hec-assembler-tools/assembler/spec_config/mem_spec.py
  assembler_tools/hec-assembler-tools/assembler/stages/__init__.py
  assembler_tools/hec-assembler-tools/assembler/stages/preprocessor.py
  assembler_tools/hec-assembler-tools/debug_tools/deadlock_test.py
  assembler_tools/hec-assembler-tools/debug_tools/isolation_test.py
  assembler_tools/hec-assembler-tools/debug_tools/order_test.py
  assembler_tools/hec-assembler-tools/docsrc/inst_spec/cinst/cinst_nop.md
  assembler_tools/hec-assembler-tools/docsrc/inst_spec/xinst/xinst_intt.md
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/he_prep.py
  assembler_tools/hec-assembler-tools/linker/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/intt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/maci.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/ntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twintt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twntt.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dkeygen.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dload.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dstore.py
  p-isa_tools/common/p_isa/p_isa_hardware_models.h
  p-isa_tools/common/p_isa/p_isa_performance_modeler.cpp
  p-isa_tools/kerngen/high_parser/__init__.py
  p-isa_tools/kerngen/high_parser/options_handler.py
  p-isa_tools/kerngen/kernel_optimization/loops.py
  p-isa_tools/kerngen/kerngen.py
  p-isa_tools/kerngen/kerngraph.py
  p-isa_tools/kerngen/tests/test_kerngen.py
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint, clang-format-14, cpplint

Update tests to work with newly cleaned up code
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_loader.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
  p-isa_tools/kerngen/high_parser/types.py
Due: pylint

remove redundant pytest.ini files
  assembler_tools/hec-assembler-tools/pytest.ini
  pyproject.toml
  pytest.ini
Due: none

data-formats: various fixes and improvements
  .gitignore
  CPPLINT.cfg
  p-isa_tools/data_formats/README.md
  p-isa_tools/data_formats/cpp/heracles/data/math.cpp
  p-isa_tools/data_formats/cpp/heracles/util/util.cpp
  p-isa_tools/data_formats/proto/heracles/data.proto
  p-isa_tools/data_formats/proto/heracles/fhe_trace.proto
  p-isa_tools/data_formats/python/heracles/.gitignore
  p-isa_tools/data_formats/python/heracles/data/io.py
  p-isa_tools/data_formats/python/heracles/data/naming.py
  p-isa_tools/data_formats/python/heracles/data/transform.py
  p-isa_tools/data_formats/python/heracles/fhe_trace/io.py
  p-isa_tools/data_formats/python/heracles/util/data.py
  p-isa_tools/data_formats/requirements.txt
  p-isa_tools/data_formats/test/.gitignore
  p-isa_tools/data_formats/test/compile_protos.py
  p-isa_tools/data_formats/test/generate_test_traces.py
  p-isa_tools/data_formats/test/heracles_test.cpp
  p-isa_tools/data_formats/test/heracles_test.py
  p-isa_tools/data_formats/test/math_unittest/unittest.h
  p-isa_tools/functional_modeler/data_handlers/json_data_handler.h
  p-isa_tools/program_mapper/p_isa/pisa_test_generator.h
  pyproject.toml
Due: pylint, clang-format-14, cpplint

data-formats: add `store/load_json_trace`
  p-isa_tools/data_formats/cpp/heracles/fhe_trace/io.cpp
  p-isa_tools/data_formats/cpp/include/heracles/fhe_trace/io.h
Due: clang-format-14, cpplint

add openfhe tracer (w/ end-to-end example)
  .typos.toml
  p-isa_tools/CMakeLists.txt
  p-isa_tools/data_formats/CMakeLists.txt
  p-isa_tools/data_formats/tracers/openfhe/CMakeLists.txt
  p-isa_tools/data_formats/tracers/openfhe/README.md
  p-isa_tools/data_formats/tracers/openfhe/tracer.h
  p-isa_tools/data_formats/tracers/openfhe/tracing_example.cpp
  p-isa_tools/kerngen/CMakeLists.txt
Due: clang-format-14, cpplint

program_mapper: add support for `muli`
  p-isa_tools/program_mapper/p_isa/pisakernel.cpp
  p-isa_tools/program_mapper/poly_program/operations/core.h
  p-isa_tools/program_mapper/poly_program/poly_operation_library.h
  p-isa_tools/program_mapper/poly_program/polyprogram.cpp
Due: clang-format-14, cpplint

Adding Integration test
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.xinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.xinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.xinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/test_he_link.py
Due: pylint

Cleaning fixture files
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_add_add_mul_8192_l1_m2/no_hbm/bgv_multi_add_add_mul_8192_l1_m2_pisa.tw.xinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.xinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.cinst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.mem.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.minst.xz
  assembler_tools/hec-assembler-tools/tests/integration_tests/linking_fixtures/bgv_multi_mul_relin_16384_l1_m2/no_hbm/bgv_multi_mul_relin_16384_l1_m2_pisa.tw.xinst.xz
Due: none

Linking up to SPAD boundary
  assembler_tools/hec-assembler-tools/assembler/instructions/cinst/bload.py
  assembler_tools/hec-assembler-tools/assembler/instructions/cinst/bones.py
  assembler_tools/hec-assembler-tools/assembler/instructions/cinst/cload.py
  assembler_tools/hec-assembler-tools/assembler/instructions/cinst/cstore.py
  assembler_tools/hec-assembler-tools/assembler/instructions/instruction.py
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/linker/__init__.py
  assembler_tools/hec-assembler-tools/linker/he_link_utils.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bones.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cstore.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/nload.py
  assembler_tools/hec-assembler-tools/linker/instructions/instruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mload.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mstore.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/__init__.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kernel_info.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/linker/linker_run_config.py
  assembler_tools/hec-assembler-tools/linker/loader.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker_utils.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_remap.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kernel_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_trace_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
Due: pylint

Adding unit tests
  assembler_tools/hec-assembler-tools/linker/kern_trace/kernel_info.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kernel_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker_utils.py
Due: pylint

Bug fix for Sub kernel. Issue: CartesianOp assumed commutative operations (a - b != b - a).
  p-isa_tools/kerngen/pisa_generators/basic.py
Due: pylint

Update pyproject.toml to mypy 1.17.1
  pyproject.toml
Due: none

Adding integration tests
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/tests/integration_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
Due: pylint

Update data.py
  p-isa_tools/data_formats/python/heracles/util/data.py
Due: pylint

Update fhe_trace.py
  p-isa_tools/data_formats/python/heracles/util/fhe_trace.py
Due: pylint

Cleaning
  assembler_tools/hec-assembler-tools/linker/linker_run_config.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
Due: pylint
