Repository IntelLabs/encrypted-computing-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-format-14, cpplint

Path conditions:
  pylint: any of: \.py$, but not: ^(assembler_tools/hec-assembler-tools/assembler/common/run_config\.py| *assembler_tools/hec-assembler-tools/assembler/instructions/| *assembler_tools/hec-assembler-tools/assembler/memory_model/| *assembler_tools/hec-assembler-tools/assembler/stages/asm_scheduler\.py| *assembler_tools/hec-assembler-tools/assembler/stages/scheduler\.py| *assembler_tools/hec-assembler-tools/debug_tools/main\.py| *assembler_tools/hec-assembler-tools/debug_tools/xinst_timing_check/| *assembler_tools/hec-assembler-tools/he_as\.py| *assembler_tools/hec-assembler-tools/linker/__init__\.py| *assembler_tools/hec-assembler-tools/linker/instructions/__init__\.py)
  clang-format-14: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|inl)$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$

Bug fix: test case for kerngraph parse_args (#102)
  p-isa_tools/kerngen/tests/test_kerngraph_command.py
Due: pylint

Kerngen Tests for CI (#103)
  .github/workflows/kerngen-test.yml
Due: none

fix typo in p-isa_tools/README.md
  p-isa_tools/README.md
Due: none

Fix pylint on linker instructions
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bones.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cexit.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cnop.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cstore.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/csyncm.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/ifetch.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgseed.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgstart.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/nload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/xinstfetch.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/minstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mload.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mstore.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/msyncc.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/add.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/exit.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/intt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/mac.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/maci.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/move.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/mul.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/muli.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/nop.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/ntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/rshuffle.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/sub.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twintt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/xinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/xstore.py
  assembler_tools/hec-assembler-tools/linker/steps/__init__.py
Due: pylint

Create intel_security_scan.yaml
  .github/workflows/intel_security_scan.yaml
Due: none

[hec-assembler]: Complete format fixes on the Linker (#105)
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/bones.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cexit.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cnop.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/cstore.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/csyncm.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/ifetch.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgseed.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/kgstart.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/nload.py
  assembler_tools/hec-assembler-tools/linker/instructions/cinst/xinstfetch.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/minstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mload.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/mstore.py
  assembler_tools/hec-assembler-tools/linker/instructions/minst/msyncc.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/add.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/exit.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/intt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/mac.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/maci.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/move.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/mul.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/muli.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/nop.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/ntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/rshuffle.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/sub.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twintt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/xinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/xstore.py
  assembler_tools/hec-assembler-tools/linker/steps/__init__.py
Due: pylint

Add tracing to linker
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/dinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/dload.py
  assembler_tools/hec-assembler-tools/linker/instructions/instruction.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/__init__.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/context_config.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_var.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kernel_op.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/trace_info.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dinstruction.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dload.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_trace_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
Due: pylint

Adding TraceInfo
  assembler_tools/hec-assembler-tools/he_prep.py
  assembler_tools/hec-assembler-tools/linker/steps/trace_info.py
Due: pylint

data-formats: enable -Werror and fix resulting issues
  tracing/data-formats/CMakeLists.txt
  tracing/data-formats/src/data_formats/cpp/heracles/util/util.cpp
  tracing/data-formats/src/data_formats/test/heracles_test.cpp
Due: clang-format-14, cpplint

Adding new unit tests for refactored he_link.py
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/linker/he_link_utils.py
  assembler_tools/hec-assembler-tools/linker/linker_run_config.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_linker_run_config.py
Due: pylint

Adding new unit tests for kern_trace
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_var.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kernel_op.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_remap.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_var.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kernel_op.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_trace_info.py
Due: pylint

Refactoring linker for kernel recyling
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/linker/he_link_utils.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/__init__.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/linker/loader.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_trace_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_loader.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
Due: pylint

Removing Debug prints
  assembler_tools/hec-assembler-tools/linker/he_link_utils.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
Due: pylint

Added regression test for relin kernel.
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/input.bgv.16k_l2_m3.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/input.bgv.16k_l2_m4.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m3.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m4.relin
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint

Added header
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint

Readme Update
  assembler_tools/hec-assembler-tools/README.md
  assembler_tools/hec-assembler-tools/he_prep.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_remap.py
Due: pylint

Tests: Adds Regression Test for Relin Kernels
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/input.bgv.16k_l2_m3.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/input.bgv.16k_l2_m4.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m3.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m4.relin
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint

Refactored kerngraph to support grouping of p-isa lists to enable flexible reordering. Added regression testing for relin
  p-isa_tools/kerngen/kernel_optimization/loops.py
  p-isa_tools/kerngen/kerngraph.py
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m3_p-rns_s-part.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m4_p-rns_s-part.relin
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint

data-formats: add `store/load_json_trace`
  tracing/data-formats/src/data_formats/cpp/heracles/fhe_trace/io.cpp
  tracing/data-formats/src/data_formats/cpp/include/heracles/fhe_trace/io.h
Due: clang-format-14, cpplint

EXPERIMENTAL: Added support for reordering mod inside of relin
  assembler_tools/hec-assembler-tools/assembler/stages/preprocessor.py
  p-isa_tools/kerngen/kernel_optimization/loops.py
  p-isa_tools/kerngen/kerngraph.py
Due: pylint

Bug fix for standalone mod switch for CKKS. Previous version of the code rescales after reducing the RNS, which is not required. Requires refactoring in the future.
  p-isa_tools/kerngen/pisa_generators/mod.py
Due: pylint

typo in comment
  p-isa_tools/kerngen/pisa_generators/mod.py
Due: pylint

[hec-assembler]: Linking multi *.mem programs with trace_file (#106)
  assembler_tools/hec-assembler-tools/README.md
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/linker/he_link_utils.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/dinstruction.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/dload.py
  assembler_tools/hec-assembler-tools/linker/instructions/instruction.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/__init__.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/context_config.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_var.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kernel_op.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/trace_info.py
  assembler_tools/hec-assembler-tools/linker/linker_run_config.py
  assembler_tools/hec-assembler-tools/linker/loader.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_he_link.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dinstruction.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dload.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_remap.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kern_var.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_kernel_op.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_kern_trace/test_trace_info.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_linker_run_config.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_loader.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_program_linker.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
Due: pylint

New Feature: Kerngraph support for Relin (#109)
  p-isa_tools/kerngen/kernel_optimization/loops.py
  p-isa_tools/kerngen/kerngraph.py
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m3_p-rns_s-part.relin
  p-isa_tools/kerngen/tests/kernel_examples/relin_kernel/output.bgv.16k_l2_m4_p-rns_s-part.relin
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint

Bug fix for standalone mod switch down for CKKS
  p-isa_tools/kerngen/pisa_generators/mod.py
Due: pylint

Fix trailing spaces and punctuation
  README.md
Due: none

Fix typos
  p-isa_tools/README.md
  tutorials/p-isa-tools/README.md
Due: none

Fix Typos
  CONTRIBUTING.md
Due: none

Set diff flag for typos in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

improve pre-commit setup
  .clang-format
  .github/workflows/format.yml
  .pre-commit-config.yaml
  .pylintrc
  .typos.toml
  mypy.ini
  p-isa_tools/CPPLINT.cfg
  pyproject.toml
  requirements-dev.txt
Due: none

manual fixes
  assembler_tools/hec-assembler-tools/assembler/common/constants.py
  assembler_tools/hec-assembler-tools/assembler/spec_config/mem_spec.py
  assembler_tools/hec-assembler-tools/assembler/stages/__init__.py
  assembler_tools/hec-assembler-tools/assembler/stages/preprocessor.py
  assembler_tools/hec-assembler-tools/debug_tools/deadlock_test.py
  assembler_tools/hec-assembler-tools/debug_tools/isolation_test.py
  assembler_tools/hec-assembler-tools/debug_tools/order_test.py
  assembler_tools/hec-assembler-tools/docsrc/inst_spec/cinst/cinst_nop.md
  assembler_tools/hec-assembler-tools/docsrc/inst_spec/xinst/xinst_intt.md
  assembler_tools/hec-assembler-tools/he_link.py
  assembler_tools/hec-assembler-tools/he_prep.py
  assembler_tools/hec-assembler-tools/linker/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/dinst/__init__.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/intt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/maci.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/ntt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twintt.py
  assembler_tools/hec-assembler-tools/linker/instructions/xinst/twntt.py
  assembler_tools/hec-assembler-tools/linker/kern_trace/kern_remap.py
  assembler_tools/hec-assembler-tools/linker/steps/program_linker.py
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dkeygen.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dload.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_instructions/test_dinst/test_dstore.py
  p-isa_tools/common/p_isa/p_isa_hardware_models.h
  p-isa_tools/common/p_isa/p_isa_performance_modeler.cpp
  p-isa_tools/kerngen/high_parser/__init__.py
  p-isa_tools/kerngen/high_parser/options_handler.py
  p-isa_tools/kerngen/kernel_optimization/loops.py
  p-isa_tools/kerngen/kerngen.py
  p-isa_tools/kerngen/kerngraph.py
  p-isa_tools/kerngen/tests/test_kerngen.py
  p-isa_tools/kerngen/tests/test_kerngen_regression.py
Due: pylint, clang-format-14, cpplint

Update tests to work with newly cleaned up code
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_he_link_utils.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_loader.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
  p-isa_tools/kerngen/high_parser/types.py
Due: pylint

pin github actions by hash
  .github/workflows/codeql.yml
  .github/workflows/format.yml
  .github/workflows/hec-asm-test.yml
  .github/workflows/kerngen-test.yml
Due: none

Update graph.h
  p-isa_tools/common/graph/graph.h
Due: clang-format-14, cpplint

revert use of union type in isinstance
  assembler_tools/hec-assembler-tools/linker/steps/variable_discovery.py
  assembler_tools/hec-assembler-tools/tests/unit_tests/test_linker/test_steps/test_variable_discovery.py
  pyproject.toml
Due: pylint
